@font-face {
  font-family: "airbnb_cereal_appblack";
  src: url("./Typeface/airbnbcerealblack-webfont.woff2") format("woff2"),
    url("./Typeface/airbnbcerealblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "airbnb_cereal_appbold";
  src: url("./Typeface/airbnbcerealbold-webfont.woff2") format("woff2"),
    url("./Typeface/airbnbcerealbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "airbnb_cereal_appbook";
  src: url("./Typeface/airbnbcerealbook-webfont.woff2") format("woff2"),
    url("./Typeface/airbnbcerealbook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "airbnb_cereal_appextra_bold";
  src: url("./Typeface/airbnbcerealextrabold-webfont.woff2") format("woff2"),
    url("./Typeface/airbnbcerealextrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "airbnb_cereal_applight";
  src: url("./Typeface/airbnbcereallight-webfont.woff2") format("woff2"),
    url("./Typeface/airbnbcereallight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "airbnb_cereal_appmedium";
  src: url("./Typeface/airbnbcerealmedium-webfont.woff2") format("woff2"),
    url("./Typeface/airbnbcerealmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
